%h2 Categories 

- @categories.each do |category|
  %ul.nav
    %li
      =link_to category.name, edit_category_path(category)    
=link_to "Create A New Category", new_category_path, class: "btn btn-primary"
 
%h2 Images

%p Number of images #{@image_count}
=link_to "Create A New Image", new_image_path, class: "btn btn-primary"

%h2 Users
- @users.each do |user|
  %ul.nav
  %li
    #{user.name} 
  %li
    =link_to "edit", edit_user_path(user)

=link_to "Create A New User", new_user_path, class: "btn btn-primary"
