.field
  =f.label :title
  =f.text_field :title

.field
  =f.label :caption
  =f.text_area :caption

.field
  =f.label :category
  =f.select :category, categories

.field
  =f.label :feature
  =f.check_box :feature

.field
  =f.submit "Save", class: "btn btn-primary"
